:root {
  //BREAKPOINTS
  //TODO: breakpoints
  --width-mobile: 375px;
  --width-tablet: 768px;
  --width-desktop: 1440px;

  //FONTS
  --font-family-primary: "Jost", "Arial", sans-serif;
  --font-family-secondary: "Roboto", "Arial", sans-serif;

  --font-size-S: 14px;
  --font-size-M: 16px;
  --font-size-L: 20px;
  --font-size-XL: 24px;
  --font-size-XXXL: 64px;


  //TODO: adaptive fonts
  //@media (min-width: 768px) {
  //  --font-size-XXS: 10px;
  //  --font-size-XS: 12px;
  //  --font-size-S: 14px;
  //  --font-size-M: 16px;
  //  --font-size-L: 18px;
  //  --font-size-ML: 20px;
  //  --font-size-XL: 24px;
  //  --font-size-XXL: 32px;
  //}
  //
  //@media (min-width: 1440px) {
  //  --font-size-XXS: 12px;
  //  --font-size-XS: 14px;
  //  --font-size-S: 16px;
  //  --font-size-M: 18px;
  //  --font-size-L: 20px;
  //  --font-size-ML: 24px;
  //  --font-size-XL: 28px;
  //  --font-size-XXL: 34px;
  //}

  //SPACES
  //TODO: spaces
  --body-padding: 140px;

  --space-inner: 5px;
  --space-related-items: 8px;
  --space-unrelated-items: 16px;
  --space-subsections: 24px;
  --space-sections: 32px;

//  @media (min-width: 768px) {
//    --space-inner: 8px;
//    --space-related-items: 16px;
//    --space-unrelated-items: 24px;
//    --space-subsections: 32px;
//    //--space-sections: 40px;
//  }
//
//  @media (min-width: 1440px) {
//    --space-inner: 10px;
//    --space-related-items: 20px;
//    --space-unrelated-items: 30px;
//    --space-subsections: 40px;
//    //--space-sections: 50px;
//  }
}